In [1]:
import pandas as pd
import numpy as np

In [2]:
flight_data_df = pd.read_csv('../flight_data.csv.zip')
flight_data_df.head()

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD

In [3]:
# flight_data_df.to_csv('../flight_data.csv.zip', index=False)

In [4]:
flight_data_df.shape

(998866, 13)

In [5]:
#rename the columns in our dataframe
flight_data_df.rename(columns={'from_airport_code': 'Departing Airport', 
                   'from_country': 'Departing Country',
                   'dest_airport_code': 'Destination Airport',
                   'dest_country':'Destination Country',
                   'airline_name': 'Airline Name',
                   'flight_number': 'Flight Number',
                   'departure_time': 'Departure Time',
                   'arrival_time': 'Arrival Time',
                               
                  }, inplace=True)

In [7]:
flight_data_df.dtypes

Departing Airport       object
Departing Country       object
Destination Airport     object
Destination Country     object
aircraft_type           object
Airline Name            object
Flight Number           object
Departure Time          object
Arrival Time            object
duration                 int64
stops                    int64
price                  float64
currency                object
dtype: object

In [8]:
flight_data_df.isnull().sum()

Departing Airport          0
Departing Country          0
Destination Airport        0
Destination Country        0
aircraft_type          13914
Airline Name               0
Flight Number              0
Departure Time             0
Arrival Time               0
duration                   0
stops                      0
price                   1353
currency                   0
dtype: int64

In [9]:
cleaned_df = flight_data_df.dropna()
cleaned_df.head()

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD

In [10]:
cleaned_df.isnull().sum()

Departing Airport      0
Departing Country      0
Destination Airport    0
Destination Country    0
aircraft_type          0
Airline Name           0
Flight Number          0
Departure Time         0
Arrival Time           0
duration               0
stops                  0
price                  0
currency               0
dtype: int64

In [11]:
try:
    cleaned_df["price"] = cleaned_df["price"].map("${:,.2f}".format)
except ValueError:
    pass

C:\Users\edgar\AppData\Local\Temp\ipykernel_14688\240308206.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["price"] = cleaned_df["price"].map("${:,.2f}".format)

In [13]:
cleaned_df['Depart Time'] = pd.to_datetime(cleaned_df['Departure Time']).dt.strftime('%p')
cleaned_df['Arrive Time'] = pd.to_datetime(cleaned_df['Arrival Time']).dt.strftime('%p')
cleaned_df.head(100)

C:\Users\edgar\AppData\Local\Temp\ipykernel_14688\176731240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Depart Time'] = pd.to_datetime(cleaned_df['Departure Time']).dt.strftime('%p')
C:\Users\edgar\AppData\Local\Temp\ipykernel_14688\176731240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Arrive Time'] = pd.to_datetime(cleaned_df['Arrival Time']).dt.strftime('%p')

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency,Depart Time,Arrive Time
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,"$1,284.00",USD,PM,AM
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,290.00",USD,PM,AM
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,"$1,347.00",USD,PM,AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ALG,Algeria,MEL,Australia,Airbus A321neo|Airbus A340|Boeing 777,[Lufthansa| Singapore Airlines],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-03 09:50:00,3615,2,"$2,492.00",USD,PM,AM
96,ALG,Algeria,SYD,Australia,Airbus A330|Airbus A330|Boeing 777,[Turkish Airlines| THAI],TK652|TK652|TK652,2022-04-30 13:15:00,2022-05-02 20:30:00,2775,2,"$2,248.00",USD,PM,PM
97,ALG,Algeria,MEL,Australia,Airbus A321neo|Airbus A380|Airbus A380,[Lufthansa| Emirates],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-02 05:30:00,1915,2,"$5,641.00",USD,PM,AM
98,ALG,Algeria,SYD,Australia,Airbus A321neo|Airbus A350|Airbus A350,[Lufthansa| Singapore Airlines],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-02 05:55:00,1940,2,"$2,312.00",USD,PM,AM
99,ALG,Algeria,MEL,Australia,Airbus A321neo|Airbus A380|Airbus A380,[Lufthansa| Emirates],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-02 21:50:00,2895,2,"$5,641.00",USD,PM,PM

In [14]:

#cleaned_df
cleaned_df['Departure Time'] = pd.to_datetime(cleaned_df['Departure Time'])

cleaned_df['Departure Day'] = cleaned_df['Departure Time'].dt.day_name()
cleaned_df

C:\Users\edgar\AppData\Local\Temp\ipykernel_14688\3696463903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Departure Time'] = pd.to_datetime(cleaned_df['Departure Time'])
C:\Users\edgar\AppData\Local\Temp\ipykernel_14688\3696463903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Departure Day'] = cleaned_df['Departure Time'].dt.day_name()

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency,Depart Time,Arrive Time,Departure Day
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM,Saturday
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM,Saturday
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,"$1,284.00",USD,PM,AM,Saturday
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,290.00",USD,PM,AM,Saturday
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,"$1,347.00",USD,PM,AM,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998861,BOM,India,SYD,Australia,Boeing 777|Airbus A380,[Emirates],EK503|EK503,2022-05-01 19:20:00,2022-05-02 22:05:00,1335,1,"$1,317.00",USD,PM,PM,Sunday
998862,BOM,India,SYD,Australia,Boeing 777|Airbus A380,[Emirates],EK509|EK509,2022-05-01 22:20:00,2022-05-02 22:05:00,1155,1,"$1,317.00",USD,PM,PM,Sunday
998863,BOM,India,SYD,Australia,Airbus A350|Boeing 787|Boeing 737,[Etihad| Virgin Australia],EY205|EY205|EY205,2022-05-01 04:35:00,2022-05-02 09:55:00,1490,2,"$1,328.00",USD,AM,AM,Sunday
998864,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,[Air India| SriLankan],AI603|AI603|AI603,2022-05-01 06:10:00,2022-05-02 14:55:00,1695,2,"$1,368.00",USD,AM,PM,Sunday
998865,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,[Air India| SriLankan],AI639|AI639|AI639,2022-05-01 09:30:00,2022-05-02 14:55:00,1495,2,"$1,368.00",USD,AM,PM,Sunday

In [15]:
#cleaned_df
cleaned_df['Arrival Time'] = pd.to_datetime(cleaned_df['Arrival Time'])

cleaned_df['Arrival Day'] = cleaned_df['Arrival Time'].dt.day_name()
cleaned_df
#week_df = cleaned_df[(cleaned_df['Departure Day']=='Monday')]
#week_df.head(200)

C:\Users\edgar\AppData\Local\Temp\ipykernel_14688\4211961543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Arrival Time'] = pd.to_datetime(cleaned_df['Arrival Time'])
C:\Users\edgar\AppData\Local\Temp\ipykernel_14688\4211961543.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Arrival Day'] = cleaned_df['Arrival Time'].dt.day_name()

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency,Depart Time,Arrive Time,Departure Day,Arrival Day
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM,Saturday,Sunday
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM,Saturday,Sunday
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,"$1,284.00",USD,PM,AM,Saturday,Sunday
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,290.00",USD,PM,AM,Saturday,Sunday
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,"$1,347.00",USD,PM,AM,Saturday,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998861,BOM,India,SYD,Australia,Boeing 777|Airbus A380,[Emirates],EK503|EK503,2022-05-01 19:20:00,2022-05-02 22:05:00,1335,1,"$1,317.00",USD,PM,PM,Sunday,Monday
998862,BOM,India,SYD,Australia,Boeing 777|Airbus A380,[Emirates],EK509|EK509,2022-05-01 22:20:00,2022-05-02 22:05:00,1155,1,"$1,317.00",USD,PM,PM,Sunday,Monday
998863,BOM,India,SYD,Australia,Airbus A350|Boeing 787|Boeing 737,[Etihad| Virgin Australia],EY205|EY205|EY205,2022-05-01 04:35:00,2022-05-02 09:55:00,1490,2,"$1,328.00",USD,AM,AM,Sunday,Monday
998864,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,[Air India| SriLankan],AI603|AI603|AI603,2022-05-01 06:10:00,2022-05-02 14:55:00,1695,2,"$1,368.00",USD,AM,PM,Sunday,Monday
998865,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,[Air India| SriLankan],AI639|AI639|AI639,2022-05-01 09:30:00,2022-05-02 14:55:00,1495,2,"$1,368.00",USD,AM,PM,Sunday,Monday

In [16]:
def convert_to_hours_minutes(duration):
    if len(str(duration)) == 4:
        hours = str(duration)[:-2]
        minutes = str(duration)[-2:]
        return f"{hours}:{minutes}"
    else:
        return duration

# Apply the function to the 'duration' column
cleaned_df['Trip Duration'] = cleaned_df['duration'].apply(convert_to_hours_minutes)

cleaned_df.head()

C:\Users\edgar\AppData\Local\Temp\ipykernel_14688\1477625643.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Trip Duration'] = cleaned_df['duration'].apply(convert_to_hours_minutes)

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency,Depart Time,Arrive Time,Departure Day,Arrival Day,Trip Duration
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM,Saturday,Sunday,14:25
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM,Saturday,Sunday,14:25
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,"$1,284.00",USD,PM,AM,Saturday,Sunday,15:30
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,290.00",USD,PM,AM,Saturday,Sunday,14:25
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,"$1,347.00",USD,PM,AM,Saturday,Sunday,15:40

In [34]:
Finished_df = cleaned_df.drop(['duration', 'Departure Time', 'Arrival Time', 'Flight Number'], axis=1)
Finished_df.head()

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,stops,price,currency,Depart Time,Arrive Time,Departure Day,Arrival Day,Trip Duration
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],3,"$1,279.00",USD,PM,AM,Saturday,Sunday,14:25
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],3,"$1,279.00",USD,PM,AM,Saturday,Sunday,14:25
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],3,"$1,284.00",USD,PM,AM,Saturday,Sunday,15:30
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],3,"$1,290.00",USD,PM,AM,Saturday,Sunday,14:25
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],2,"$1,347.00",USD,PM,AM,Saturday,Sunday,15:40

In [35]:
desired_column_order = ['Airline Name','Departing Airport', 'Departing Country', 'Depart Time', 'Destination Airport', 'Destination Country','Arrive Time','Departure Day','Arrival Day','stops','Trip Duration', 'price', 'currency','aircraft_type']
Finished_df=Finished_df[desired_column_order]
Finished_df.head()

,Airline Name,Departing Airport,Departing Country,Depart Time,Destination Airport,Destination Country,Arrive Time,Departure Day,Arrival Day,stops,Trip Duration,price,currency,aircraft_type
0,[Air France| Iberia| LATAM],ALG,Algeria,PM,AEP,Argentina,AM,Saturday,Sunday,3,14:25,"$1,279.00",USD,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...
1,[Air France| Iberia| LATAM],ALG,Algeria,PM,AEP,Argentina,AM,Saturday,Sunday,3,14:25,"$1,279.00",USD,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...
2,[Air France| LATAM],ALG,Algeria,PM,AEP,Argentina,AM,Saturday,Sunday,3,15:30,"$1,284.00",USD,Airbus A320|Airbus A321|Boeing 787|Airbus A320
3,[Air France| LATAM],ALG,Algeria,PM,AEP,Argentina,AM,Saturday,Sunday,3,14:25,"$1,290.00",USD,Airbus A318|Airbus A320|Boeing 787|Airbus A320
4,[Lufthansa| LATAM],ALG,Algeria,PM,AEP,Argentina,AM,Saturday,Sunday,2,15:40,"$1,347.00",USD,Airbus A321neo|Boeing 777|Airbus A320