In [1]:
import pandas as pd
import numpy as np

In [14]:
flight_data_df = pd.read_csv('../flight_data.csv.zip')
flight_data_df.head()

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD

In [15]:
# flight_data_df.to_csv('../flight_data.csv.zip', index=False)

In [3]:
flight_data_df.shape

(998866, 18)

In [4]:
#rename the columns in our dataframe
flight_data_df.rename(columns={'from_airport_code': 'Departing Airport', 
                   'from_country': 'Departing Country',
                   'dest_airport_code': 'Destination Airport',
                   'dest_country':'Destination Country',
                   'airline_name': 'Airline Name',
                   'flight_number': 'Flight Number',
                   'departure_time': 'Departure Time',
                   'arrival_time': 'Arrival Time',
                               
                  }, inplace=True)

In [5]:
flight_data_df.drop(['airline_number','co2_emissions', 'avg_co2_emission_for_this_route','co2_percentage','scan_date' ], axis=1, inplace=True)

In [6]:
flight_data_df.dtypes

Departing Airport       object
Departing Country       object
Destination Airport     object
Destination Country     object
aircraft_type           object
Airline Name            object
Flight Number           object
Departure Time          object
Arrival Time            object
duration                 int64
stops                    int64
price                  float64
currency                object
dtype: object

In [7]:
flight_data_df.isnull().sum()

Departing Airport          0
Departing Country          0
Destination Airport        0
Destination Country        0
aircraft_type          13914
Airline Name               0
Flight Number              0
Departure Time             0
Arrival Time               0
duration                   0
stops                      0
price                   1353
currency                   0
dtype: int64

In [8]:
cleaned_df = flight_data_df.dropna()
cleaned_df.head()

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD

In [9]:
cleaned_df.isnull().sum()

Departing Airport      0
Departing Country      0
Destination Airport    0
Destination Country    0
aircraft_type          0
Airline Name           0
Flight Number          0
Departure Time         0
Arrival Time           0
duration               0
stops                  0
price                  0
currency               0
dtype: int64

In [10]:
try:
    cleaned_df["price"] = cleaned_df["price"].map("${:,.2f}".format)
except ValueError:
    pass

/var/folders/lx/071yjxh93wx_hmdwq4r88s040000gn/T/ipykernel_9853/240308206.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["price"] = cleaned_df["price"].map("${:,.2f}".format)

In [11]:
cleaned_df['Depart Time'] = pd.to_datetime(cleaned_df['Departure Time']).dt.strftime('%p')
cleaned_df['Arrive Time'] = pd.to_datetime(cleaned_df['Arrival Time']).dt.strftime('%p')
cleaned_df.head(100)

/var/folders/lx/071yjxh93wx_hmdwq4r88s040000gn/T/ipykernel_9853/176731240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Depart Time'] = pd.to_datetime(cleaned_df['Departure Time']).dt.strftime('%p')
/var/folders/lx/071yjxh93wx_hmdwq4r88s040000gn/T/ipykernel_9853/176731240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Arrive Time'] = pd.to_datetime(cleaned_df['Arrival Time']).dt.strftime('%p')

,Departing Airport,Departing Country,Destination Airport,Destination Country,aircraft_type,Airline Name,Flight Number,Departure Time,Arrival Time,duration,stops,price,currency,Depart Time,Arrive Time
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,279.00",USD,PM,AM
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,"$1,284.00",USD,PM,AM
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,"$1,290.00",USD,PM,AM
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,"$1,347.00",USD,PM,AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ALG,Algeria,MEL,Australia,Airbus A321neo|Airbus A340|Boeing 777,[Lufthansa| Singapore Airlines],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-03 09:50:00,3615,2,"$2,492.00",USD,PM,AM
96,ALG,Algeria,SYD,Australia,Airbus A330|Airbus A330|Boeing 777,[Turkish Airlines| THAI],TK652|TK652|TK652,2022-04-30 13:15:00,2022-05-02 20:30:00,2775,2,"$2,248.00",USD,PM,PM
97,ALG,Algeria,MEL,Australia,Airbus A321neo|Airbus A380|Airbus A380,[Lufthansa| Emirates],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-02 05:30:00,1915,2,"$5,641.00",USD,PM,AM
98,ALG,Algeria,SYD,Australia,Airbus A321neo|Airbus A350|Airbus A350,[Lufthansa| Singapore Airlines],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-02 05:55:00,1940,2,"$2,312.00",USD,PM,AM
99,ALG,Algeria,MEL,Australia,Airbus A321neo|Airbus A380|Airbus A380,[Lufthansa| Emirates],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-02 21:50:00,2895,2,"$5,641.00",USD,PM,PM